<!--
	Example launchd LaunchAgent plist for running the app on OS X in development.
	MAKE SURE TO EDIT THE WorkingDirectory KEY AND INSERT THE PATH TO THIS DIRECTORY
 -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DEVNULL</key>
		<string>devnull.ucs.sfu.ca</string>
		<key>NODE_ENV</key>
		<string>production</string>
		<key>REDISHOST</key>
		<string>localhost</string>
		<key>USEGRAPHITE</key>
		<string>false</string>
	</dict>
	<key>Label</key>
	<string>ca.sfu.roadconditions</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>--debug</string>
		<string>server.js</string>
	</array>
	<key>WorkingDirectory</key>
	<string>CHANGEME</string>
	<key>StandardErrorPath</key>
	<string>/tmp/roadconditions.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/roadconditions.log</string>
</dict>
</plist>
