#!/bin/sh
#
# roadconditions        Startup script for the SRS Road Conditions app
#
# chkconfig: - 90 10
#
# processname: roadconditions
# pidfile: /var/run/roadconditions.pid

PATH=/usr/local/bin:/sbin:/usr/bin:/bin

REDISPWFILE="/etc/redispw"
NODE="/usr/local/bin/node"
SCRIPT="/var/nodeapps/roadconditions/server.js"
REDIS_CLI=/usr/local/bin/redis-cli
PIDFILE=/var/run/roadconditions.pid
LOGFILE=/var/log/roadconditions.log
RUN_AS_USER=nodeuser
ENVS='CAS_SERVICE=http://www.sfu.ca/security/sfuroadconditions'

start() {
    if [ -f $PIDFILE ] ; then
        echo "$PIDFILE exists, roadconditions server is already running or crashed"
    else
        if [ ! -f $REDISPWFILE ] ; then
            echo "Redis password file does not exist or is empty"
        else
            echo "Starting roadconditions server..."
            REDISPW=$(cat $REDISPWFILE)
            touch $PIDFILE
            chown $RUN_AS_USER:$RUN_AS_USER $PIDFILE
            if [ $(whoami) = "$RUN_AS_USER" ] ; then
                REDISPW=$REDISPW $ENVS $NODE $SCRIPT > $LOGFILE 2>&1
            else
                su - $RUN_AS_USER -c "REDISPW=$REDISPW $ENVS $NODE $SCRIPT > $LOGFILE 2>&1"
            fi
        fi
    fi
}

stop() {
    if [ ! -f $PIDFILE ] ; then
        echo "$PIDFILE does not exist, process is not running"
    else
        PID=$(cat $PIDFILE)
        echo "Stopping roadconditions server..."
        kill $PID
        while [ -x ${PIDFILE} ] ; do
            echo "Waiting for roadconditions server to shutdown ..."
            sleep 1
        done
        echo "roadconditions server stopped"
    fi
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        stop
        start
esac