<style>

#updateconditions {
	width: 90%;
}

#updateconditions div {
	padding-top: 12px;
}

fieldset {
    border: none;
}

legend {
	font: 16px/21px "DINProMedium", sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #000;
	border-bottom: 5px solid #E1E8EF;
	padding-bottom: 8px;
    width: 100%;
}

.status_label {
    width: 50px !important;
}

fieldset {
	margin-top: 18px;
}

#conditions label {
	display: inline-block;
    width: 100px;
	font-weight: bold;
	padding-right: 10px;
}

#conditions select {
    display: inline-block;
    width: 250px;
    margin-right: 45px;
}

#conditions select[id*="_status"] {
    width: 100px;
}

fieldset div {
	margin-right: 10px;
}

fieldset.category-group {
	width: 500px;
	background-color: #ECF0F5;
	margin-bottom: 18px;
}

fieldset.category-group div {
	width: 245px;
	float: left;
}

fieldset.category-group div input {
	width: 240px;
}

fieldset.category-group div:first-child {
	width: 500px;
}

fieldset.category-group div:first-child input#text {
	width: 495px;
}

fieldset.category-group button {
	margin-top: 12px;
	margin-right: 8px;
	float: right;
}

fieldset button {
	font-size: 13px;
	background: #D7DAE0 url(../images/plus-12x12.png) 3px 5px no-repeat;
    display: inline-block;
	padding: 4px 6px 3px 18px;
    color: #555;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	border: 1px solid #fff;
    position: relative;
    cursor: pointer
}

fieldset button:hover {
	background-color: #eee;
}



</style>
<div>
    <form id="updateconditions" name="updateconditions" action="/api/1/conditions" method="POST">
        <fieldset id="conditions">
            <legend>Current Conditions</legend>
            <div>
                <label for="campus">Campus:</label>
                <select id="campus" name="campus">
                    <option value="open" data-defaultstatus="normal">open</option>
                    <option value="closed" data-defaultstatus="alert">closed</option>
                    <option value="reopened" data-defaultstatus="warning">reopened</option>
                </select>
                <label class="status_label" for="campus_status">Color: </label>
                <select id="campus_status" name="campus_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>
            </div>
            <div>
                <label for="roads">Roads:</label>
                <select id="roads" name="roads">
                    <option value="clear" data-defaultstatus="normal">clear</option>
                    <option value="closed" data-defaultstatus="alert">closed</option>
                    <option value="covered with dry snow" data-defaultstatus="alert">covered with dry snow</option>
                    <option value="covered with wet snow" data-defaultstatus="alert">covered with wet snow</option>
                    <option value="covered with hard snow" data-defaultstatus="alert">covered with hard snow</option>
                    <option value="dry" data-defaultstatus="normal">dry</option>
                    <option value="good" data-defaultstatus="normal">good</option>
                    <option value="icy" data-defaultstatus="alert">icy</option>
                    <option value="light snow" data-defaultstatus="warning">light snow</option>
                    <option value="partially clear" data-defaultstatus="warning">partially clear</option>
                    <option value="snow (beware of possible ice)" data-defaultstatus="alert">snow (beware of possible ice)</option>
                    <option value="snow" data-defaultstatus="alert">snow</option>
                    <option value="wet" data-defaultstatus="normal">wet</option>
                    <option value="wet (possible icy conditions)" data-defaultstatus="warning">wet (possible icy conditions)</option>
                </select>
                <label class="status_label" for="roads_status">Color: </label>
                <select id="roads_status" name="roads_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>
            </div>
            <div>
                <label for="adjacentroads">Adjacent Roads:</label>
                <select id="adjacentroads" name="adjacentroads">
                    <option value="not applicable" data-defaultstatus="normal">not applicable</option>
                    <option value="closed" data-defaultstatus="alert">closed</option>
                    <option value="use caution" data-defaultstatus="warning">use caution</option>
                    <option value="use extreme caution" data-defaultstatus="alert">use extreme caution</option>
                </select>
                <label class="status_label"  for="adjacentroads_status">Color: </label>
                <select id="adjacentroads_status" name="adjacentroads_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>
            </div>
            <div>
                <label for="transit">Transit Service</label>
                <select id="transit" name="transit">
                    <option value="on schedule" data-defaultstatus="normal">on schedule</option>
                    <option value="delayed" data-defaultstatus="warning">delayed</option>
                    <option value="not running" data-defaultstatus="alert">not running</option>
                </select>
                <label  class="status_label" for="transit_status">Color: </label>
                <select id="transit_status" name="transit_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>
            </div>
            <div>
                <label for="classes">Classes:</label>
                <select id="classes" name="classes">
                    <option value="on schedule">as scheduled</option>
                    <option value="cancelled (morning classes)" data-defaultstatus="normal">cancelled (morning classes)</option>
                    <option value="cancelled (afternoon classes)" data-defaultstatus="alert">cancelled (afternoon classes)</option>
                    <option value="cancelled (evening classes)" data-defaultstatus="alert">cancelled (evening classes)</option>
                    <option value="cancelled (all classes)" data-defaultstatus="alert">cancelled (all classes)</option>
                    <option value="cancelled until further notice" data-defaultstatus="alert">cancelled until further notice</option>
                </select>
                <label  class="status_label" for="classes_status">Color: </label>
                <select id="classes_status" name="classes_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>
            </div>
            <div>
                <label for="exams">Exams:</label>
                <select id="exams" name="exams">
                    <option value="as scheduled" data-defaultstatus="normal">as scheduled</option>
                    <option value="postponed" data-defaultstatus="alert">postponed</option>
                </select>
                <label  class="status_label" for="exams_status">Color: </label>
                <select id="exams_status" name="exams_status">
                    <option value="normal">black</option>
                    <option value="warning">orange</option>    
                    <option value="alert">red</option>
                </select>          
            </div>
        </fieldset>
        
        <fieldset>
            <legend>Announcements</legend>
            <div>
                <label for="announcements"></label>
                <textarea id="announcements" name="announcements" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="sidebar0"></label>
                <textarea id="sidebar0" name="sidebar0" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="sidebar1"></label>
                <textarea id="sidebar1" name="sidebar1" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="sidebar2"></label>
                <textarea id="sidebar2" name="sidebar2" cols="30" rows="10"></textarea>
            </div>
            <button>Add new text box</button>
        </fieldset>
        
        <fieldset>
            <legend>Links</legend>
            
            <fieldset class="category-group">
            <!-- I think this legend can be removed because you'll be displaying existing link groups in the category text input below 
				<legend>Transit Links</legend> -->
                
				<div>
					<label for="category">Category</label><br />
                	<input name="text" id="text"/>
				</div>
            
				<div>
                	<label for="text">Text</label><br />
                	<input name="text" id="text"/>
            	</div>

				<div>
                	<label for="url">URL</label><br />
                	<input name="url" id="url"/>
				</div>
					
                <button>Add new link</button>
            
			</fieldset>
			
			<fieldset class="category-group">

				<div>
					<label for="category">Category</label><br />
                	<input name="text" id="text"/>
				</div>

				<div>
                	<label for="text">Text</label><br />
                	<input name="text" id="text"/>
            	</div>

				<div>
                	<label for="url">URL</label><br />
                	<input name="url" id="url"/>
				</div>

                <button>Add new link</button>

			</fieldset>
			
            <button>Add new category</button>

        </fieldset>
        <input type="submit" value="Submit"/>
    </form>
</div>