<% layout('layout') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.1/tinymce.min.js') %>
<% stylesheet('css/roadconditions-admin.css');
if (auth.maillist === 'roadconditions-dispatchers') stylesheet('css/admin-dispatcher.css');
    block('title', 'Road Report &ndash; Admin')
    block('actionableHeader', '<a title="View Current Conditions Page" href="./">View Current Conditions Page</a> <a title="Logout" href="./logout">Logout</a>');
    script('js/admin/admin.bundle.js');
%>
        <div id="app"></div>