<% headResources.css.push('admin-min.css'); if (auth.maillist === 'roadconditions-dispatchers') { headResources.css.push('admin-dispatcher-min.css'); } %>
<% headResources.scripts.push('vendor/jquery-1.7.1.min.js', 'vendor/jquery.validate.min.js', 'vendor/spine-build.js', 'vendor/ejs_production.js', 'vendor/tiny_mce/tiny_mce.js', 'vendor/moment/moment.min.js'); %>
<% bodyScripts.push('admin-min.js'); %>

<div id="metaContainer">
    <ul>
        <li><a href="/security/new-sfuroadconditions/">View Current Conditions Page</a></li>
        <li><a href="/security/new-sfuroadconditions/logout">Logout</a></li>
    </ul>
</div>

<div class="form-container">

    <div id="messageContainer"></div>

    <form id="updateconditions" name="updateconditions" action="api/1/current" method="POST">

        <div id="lastupdated">
            <p>Last updated at <span><%= dateFormat(current.lastupdated, "h:mm a [on] MMMM DD YYYY") %></span></p>
        </div>

        <fieldset id="conditionsContainer">
            <legend>Current Conditions</legend>
            <div id="conditions"></div>
        </fieldset>

        <fieldset id="announcementsContainer">
            <legend>Announcements</legend>
            <div id="announcements"></div>
        </fieldset>

        <fieldset id="sidebarsContainer">
            <legend>Sidebars</legend>
            <div id="sidebars"></div>
            <button class="plus" id="addnewsidebar">Add New Sidebar</button>
        </fieldset>


        <fieldset id="linksContainer">
            <legend>Links</legend>
            <div id="linkCategories"></div>
            <button class="plus" id="addnewlinkcategory">Add New Category</button>
        </fieldset>

        <div id="submitContainer">
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>

<script type="application/json" id="conditions_json">
    <%- JSON.stringify(current) %>
</script>

<script type="application/json" id="conditions_map">
    {"campus":{"open":"normal","closed":"alert","reopened":"warning"},"roads":{"clear":"normal","closed":"alert","covered with dry snow":"alert","covered with wet snow":"alert","covered with hard snow":"alert","dry":"normal","good":"normal","icy":"alert","light snow":"warning","partially clear":"warning","snow (beware of possible ice)":"alert","snow":"alert","wet":"normal","wet (possible icy conditions)":"warning"},"adjacentroads":{"not applicable":"normal","closed":"alert","use caution":"warning","use extreme caution":"alert"},"transit":{"on schedule":"normal","delayed":"warning","not running":"alert"},"classes":{"on schedule":"normal","cancelled (morning classes)":"alert","cancelled (afternoon classes)":"alert","cancelled (evening classes)":"alert","cancelled (all classes)":"alert","cancelled until further notice":"alert"},"exams":{"as scheduled":"normal","postponed":"alert"}}
</script>

<script type="text/template" id="conditionItemTmpl">
    [%
        var severities = ['normal', 'warning', 'alert']
        ,   val = name === 'adjacentroads' ? 'Adjacent roads' : name.toSentenceCase()
        ,   selected;
    %]

    <label for="[%= name %]">[%= val %]:</label><select class="status" id="[%= name %]" name="[%= name %]">
        [% for (var ssmStatus in statusSeverityMap) { %]
            [% selected = ssmStatus === status ? 'selected="selected"' : ''; %]
            <option value="[%= ssmStatus %]" [%= selected %]>[%= ssmStatus.toSentenceCase() %]</option>
        [% } %]
    </select>
    <label class="status_label" for="[%= name %]_status">Status:</label>
    <select class="severity" data-statusfor="[%= name %]" id="[%= name %]_status" name="[%= name %]_status">
        [% for (var i = 0; i < severities.length; i++) { %]
            [%  selected = severities[i] === severity ? 'selected="selected"' : ''; %]
            <option value="[%= severities[i] %]" [%= selected %]>[%= severities[i].toSentenceCase() %]</option>
        [% } %]
    </select>
</script>

<script type="text/template" id="announcementTmpl">
   <label for="announcement-[%= id %]">Main Announcement [%= id %]</label>
       <textarea id="announcement-[%= id %]" name="announcement-[%= id %]">[%= content %]</textarea>
</script>

<script type="text/template" id="sidebarTmpl">
    <label for="sidebar-[%= id %]">Sidebar Item [%= id %]</label>
    <textarea id="sidebar-[%= id %]" name="sidebar-[%= id %]">[%= content %]</textarea>
    <button class="minus deletesidebaritem">Delete sidebar item</button>
</script>

<script type="text/template" id="linkCategoryTmpl">
    <div class="category">
        <label for="category-[%= id %]">Category [%= id %]</label>
        <br />
        <input class="linkCategoryName required" id="category-[%= id %]" name="category-[%= id %]" value="[%= name %]" />
    </div>

    <div id="linkcategory-[%= id %]" class="links group">
    </div>
    <div class="group">
        <button class="plus addlink">Add new link</button>
        <button class="minus deletecategory">Delete category</button>
    </div>
</script>

<script type="text/template" id="linkItemTmpl">
    <div>
        <label for="text-[%= id %]">Text</label><br />
        <input name="text-[%= id %]" id="text-[%= id %]" value="[%= text %]" class="required" />
    </div>
    <div>
        <label for="url-[%= id %]">URL</label><br />
        <input type="url" name="url-[%= id %]" id="url-[%= id %]" name="category-[%= id %]" value="[%= url %]" class="required" />
    </div>
    <div>
        <button class="minus deletelink">Delete link</button>
    </div>
</script>
