<% headResources.css.push('admin.css'); %>
<% headResources.scripts.push('vendor/spine-build.js', 'vendor/ejs_production.js', 'vendor/tiny_mce/tiny_mce.js'); %>
<% bodyScripts.push('app.js'); %>

<div class="form-container">
    <p>Last updated at <%= dateFormat(current.lastupdated, "h:mm a [on] MMMM DD YYYY") %></p>
    <form id="updateconditions" name="updateconditions" action="/api/1/conditions" method="POST">

        <fieldset id="conditionsContainer">
            <legend>Current Conditions</legend>
            <div id="conditions"></div>
        </fieldset>

        <fieldset id="announcementsContainer">
            <legend>Announcements</legend>
            <div id="announcements"></div>
        </fieldset>

        <fieldset id="sidebarsContainer">
            <legend>Sidebars</legend>
            <div id="sidebars"></div>
            <button id="addnewsidebar">Add New Sidebar</button>
        </fieldset>


        <fieldset id="linksContainer">
            <legend>Links</legend>
            <div id="linkCategories"></div>
            <button id="addnewlinkcategory">Add New Category</button>
        </fieldset>

        <input type="submit" value="Submit"/>
    </form>
</div>

<script type="application/json" id="conditions_json">
    <%- JSON.stringify(current) %>
</script>

<script type="application/json" id="conditions_map">
    {"campus":{"open":"normal","closed":"alert","reopened":"warning"},"roads":{"clear":"normal","closed":"alert","covered with dry snow":"alert","covered with wet snow":"alert","covered with hard snow":"alert","dry":"normal","good":"normal","icy":"alert","light snow":"warning","partially clear":"warning","snow (beware of possible ice)":"alert","snow":"alert","wet":"normal","wet (possible icy conditions)":"warning"},"adjacentroads":{"not applicable":"normal","closed":"alert","use caution":"warning","use extreme caution":"alert"},"transit":{"on schedule":"normal","delayed":"warning","not running":"alert"},"classes":{"on schedule":"normal","cancelled (morning classes)":"alert","cancelled (afternoon classes)":"alert","cancelled (evening classes)":"alert","cancelled (all classes)":"alert","cancelled until further notice":"alert"},"exams":{"as scheduled":"normal","postponed":"alert"}}
</script>

<script type="text/template" id="announcementTmpl">
   <label for="announcement-[%= id %]">Main Announcement [%= id %]</label>
       <textarea id="announcement-[%= id %]" name="announcement-[%= id %]">[%= content %]</textarea>
</script>

<script type="text/template" id="sidebarTmpl">
    <label for="sidebar-[%= id %]">Sidebar Item [%= id %]</label>
    <textarea id="sidebar-[%= id %]" name="sidebar-[%= id %]">[%= content %]</textarea>
</script>

<script type="text/template" id="linkCategoryTmpl">
    <div class="category">
        <label for="category-[%= id %]">Category [%= id %]</label>
        <br />
        <input class="linkCategoryName" id="category-[%= id %]" value="[%= name %]"/>
    </div>

    <div id="linkcategory-[%= id %]" class="links group">
    </div>
    <div class="group">
        <button class="deleteCategory">Delete category</button>
        <button class="addLink">Add new link</button>
    </div>
</script>

<script type="text/template" id="linkItemTmpl">
    <div>
        <label for="text-[%= id %]">Text</label><br />
        <input name="text-[%= id %]" id="text-[%= id %]" value="[%= text %]"/>
    </div>
    <div>
        <label for="url-[%= id %]">URL</label><br />
        <input name="url-[%= id %]" id="url-[%= id %]"/ value="[%= url %]">
    </div>
    <div>
        <button class="deletelink">Delete link</button>
    </div>
</script>
