<% layout('layout') %>
<% script('https://unpkg.com/tinymce@4.7.1/tinymce.min.js') %>
<% stylesheet('css/roadconditions-admin.css');
    block('title', 'Road Report &ndash; Admin')
    block('actionableHeader', '<a title="View Current Conditions Page" href="./">View Current Conditions Page</a> <a title="Logout" href="./logout">Logout</a>');
    script(`${webpackManifest['/js/admin/admin.js']}`);
%>
        <div id="app"></div>
        <script>window.ENV={
            authMaillist: '<%- auth.maillist %>'
        }</script>