<footer>

    <ul>
        <li><a href="http://www.sfu.ca/admission">Admission</a></li>
        <li><a href="http://www.sfu.ca/programs">Programs</a></li>
        <li><a href="http://www.sfu.ca/learning">Learning</a></li>
        <li><a href="http://www.sfu.ca/research-at-sfu">Research</a></li>
        <li><a href="http://www.sfu.ca/sfu-community">Community</a></li>
        <li><a href="http://www.sfu.ca/about">About</a></li>
    </ul>

    <ul>
        <li><a href="http://www.sfu.ca/campuses/maps.html">Maps + directions</a></li>
        <li><a href="http://www.lib.sfu.ca/">Library</a></li>
        <li><a href="http://www.sfu.ca/calendar">Academic Calendar</a></li>
        <li><a href="http://www.sfu.ca/roads">Road Report</a></li>
        <li><a href="http://www.sfu.ca/advancement">Give to SFU</a></li>
    </ul>

    <ul>
        <li class="header">Connect With Us</li>
        <li><a href="http://www.facebook.com/simonfraseruniversity">Facebook</a></li>
        <li><a href="http://www.twitter.com/sfu">Twitter</a></li>
        <li><a href="http://www.youtube.com/user/SFUNews">YouTube</a></li>
    </ul>

    <ul>
        <li class="header">Contact Us</li>
        <li><a href="http://www.sfu.ca/main/contact/burnaby.html">Burnaby Campus</a></li>
        <li><a href="http://www.sfu.ca/main/contact/surrey.html">Surrey Campus</a></li>
        <li><a href="http://www.sfu.ca/main/contact/vancouver.html">Vancouver Campus</a></li>
    </ul>

    <ul>
        <li><div class="footer-right"></div>
        </li>
        <li><a href="http://www.sfu.ca/contact/terms-conditions.html">Terms and Conditions</a></li>
        <li>&copy; Simon Fraser University</li>
    </ul>

</footer>