<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
	<title>Road and Traffic Report – Burnaby Campus – Simon Fraser University - {{ title }}</title>
	<link rel="stylesheet" href="css/conditions.css">
	<script type="text/javascript" src="js/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="js/menus.js"></script>
</head>

<body>

	<div id="container">
		<div id="banner">
			<a href="//www.sfu.ca">Simon Fraser University</a>
		</div>
		
		<div id="globalNav">
		        <ul id="campuses">
		            <li class="sfu"><a href="//www.sfu.ca">sfu.ca</a></li>
		            <li><a href="http://www.burnaby.sfu.ca">Burnaby</a></li>
		            <li><a href="http://www.surrey.sfu.ca/">Surrey</a></li>

		            <li class="last"><a href="http://www.vancouver.sfu.ca/">Vancouver</a></li>               
		        </ul>

		        <ul id="services">
		            <li class="dropdown" id="online">
		                <a class="tabs" href="//www.sfu.ca/onlineservices/">SFU Online</a>
		            </li>
		            <li class="dropdown" id="directory">
		                <a class="tabs" href="//www.sfu.ca/dir/">A-Z Links</a>

		            </li>
		            <li class="last" id="search">
		              <form action="//www.sfu.ca/search.html" class="search" method="GET">
		                    <input id="s" name="q" type="text" value="Search sfu.ca"/>
		                    <span class="button"><input id="submit" type="submit" value="Search"/></span>
		              </form>
		            </li>
		        </ul>
		</div>
		<div id="content">
			
			<div id="title">
			
				<h1><span>Burnaby Mountain Campus</span><br />
				Road and Traffic Report</h1>
				
			</div>
			
			<div id="status">
			
				<div class="primary">
					
					<ul>
						<li><h2>The university is <span class="normal">open</span></h2></li>
						<li class="datestamp">Report updated at <span>12:06pm on March 20, 2012</span></li>
					</ul>
					
				</div>
				
				<div class="secondary">
					
					<ul>
						<li>University roads: <span class="normal">wet</span></li>
						<li>Adjacent roads: <span class="normal">not applicable</span></li>
						<li class="divider">Classes are: <span class="normal">on schedule</span></li>
						<li>Translink buses are: <span class="normal">on schedule</span></li>
						<li>Exams are: <span class="normal">on schedule</span></li>
					</ul>
			
				</div>
			
			</div>
			
			<div id="announcements">
				
				<h3>Campus announcements</h2>
				
				<div class="primary">
					
					<p>It is currently 2°C on campus with partly cloudy skies and snow. Roadways, parking lots and walkways are wet. Driving conditions and visibility are good.</p>

					<p>Translink buses appear to be running on schedule. For an up to date SFU campus bus schedule, please contact Translink at 604.953.3333 or check their website at <a href="www.translink.ca">www.translink.ca</a>.</p>

					<p>Bears are out of hibernation. Campus Security advises all members of our community to exercise vigilance when using pathways adjacent to wooded areas, and to dispose of food stuff and other trash in bear proof garbage cans whenever possible. Should you see a bear on campus, please contact Campus Security at 778.782.4500, or at local 24500 via campus phones. For further information, please see Bear Awareness.</p>
			
					
				</div>
				
				
				<div class="secondary">
					
					<div>
						<p>Constant traffic updates can be heard on radio station AM730. Traffic updates also run every 10 minutes on AM1130 and AM980.</p>
					</div>


					<div>
						<p>The SFU Burnaby Road and Traffic report is also available at <strong>604.444.4929</strong> and will be updated whenever conditions change.</p>
					</div>


					<div>
						<p>For more information on Road Conditions at other SFU Campuses call:<br />
						SFU Vancouver at 778.782.5029<br />
						SFU Surrey at 778.782.7070<br />
						</p>
					</div>
						
					
				</div>
				
			</div>
			
			<div id="webcams">
				
				<h3>Burnaby webcams</h2>
				
				<ul>
					<li><h4>University Drive North</h4>
						<a href="http://www.sfu.ca/itservices/technical/webcams/webcams_library.html"><img src="http://www.sfu.ca/~netops/webcams/libcam.jpg" alt="University Drive North" /></a>
					</li>
					<li><h4>Gaglardi intersection</h4>
						<a href="http://www.sfu.ca/itservices/technical/webcams/webcams_convo.html"><img src="http://www.sfu.ca/~netops/webcams/gaglardicam.jpg" alt="Gaglardi intersection" /></a>
					</li>
					<li><h4>Convocation Mall</h4>
						<a href="http://www.sfu.ca/itservices/technical/webcams/webcams_gaglardi.html"><img src="http://www.sfu.ca/~netops/webcams/mallcam.jpg" alt="Convocation Mall" /></a>
					</li>
				</ul>
			
			</div>
			
			<div id="links">
				
				<h3>Other resources</h3>
				
				<div>
					<h4>Transportation Links</h4>
					<ul>
						<li><a href="http://www.translink.ca">Translink Website</a></li>
						<li><a href="http://m.translink.ca">Translink Mobile Site</a></li>
					</ul>
				</div>
				
				<div>
					<h4>Weather Forecasts</h4>
					<ul>
						<li><a href="http://weatheroffice.ec.gc.ca/canada_e.html">Environment Canada</a></li>
						<li><a href="http://www.theweathernetwork.com/">The Weather Network</a></li>
					</ul>
				</div>
				
				<div>
					<h4>Campuses Notices &amp; Conditions</h4>
					<ul>
						<li><a href="http://www.sfu.ca/security">Security Alerts &amp; Traffic Notices</a></li>
						<li><a href="http://students.sfu.ca/recreation/facility/status.html">Recreation &amp; Athletics Conditions</a></li>
					</ul>
				</div>
				
				<div>
					<h4>Wildlife Links</h4>
					<ul>
						<li><a href="http://www.pc.gc.ca/eng/docs/v-g/oursnoir-blackbear/page3.aspx">Bear Encounters</a></li>
						<li><a href="http://www.env.gov.bc.ca/wld/documents/bear_hm.html">Living Near Bears</a></li>
					</ul>
				</div>
			
			
			
			
		</div>

	
	</div>
	
	<div id="footer">
        <ul>
            <li>8888 University Drive, Burnaby, B.C. Canada V5A 1S6</li>
            <li><a href="http://www.sfu.ca/webmaster/terms.html">Terms / Privacy</a></li>
            <li><a href="http://www.sfu.ca/contact/index.html">Contact SFU</a></li>
            <li><a href="http://www.sfu.ca/about/sitemap.html">SiteMap</a></li>
            <li><a href="http://www.sfu.ca/security/sfuroadconditions/">Road Conditions</a></li>

            <li>&copy; Simon Fraser University</li>
        </ul>
    </div>
	

</body>

</html>