.form-container {
    width: 543px;
}

#updateconditions div {
    padding-top: 12px;
}

fieldset {
    border: none;
}

legend {
    font: 16px/21px "DINProMedium", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    border-bottom: 5px solid #E1E8EF;
    padding-bottom: 8px;
    width: 100%;
}


fieldset {
    margin-top: 18px;
}

#conditions label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    padding-right: 10px;
}

#conditions select {
    display: inline-block;
    width: 200px;
    margin-right: 35px;
}

#conditions select[id*="_status"] {
    width: 100px;
}

#conditions label[class*="status_"] {
    display: none;
}

fieldset div {
    padding-right: 10px;
}

fieldset.category-group {
    width: 515px;
    background-color: #ECF0F5;
    margin-bottom: 18px;
}

.links div {
    /*width: 240px;*/
    float: left;
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.category-group input {
    width: 180px;
}

.category {
    width: 500px;
}

.category label {
    display:none;
}

.category input {
    width: 490px;
}

fieldset.category-group button {
    margin-top: 12px;
    margin-right: 8px;
    float: right;
}

fieldset button {
    font-size: 13px;
    display: inline-block;
    padding: 4px 6px 3px 18px;
    color: #555;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    border: 1px solid #fff;
    position: relative;
    cursor: pointer
}

fieldset .plus {
    background: #D7DAE0 url(../images/plus-12x12.png) 3px 5px no-repeat;
}

fieldset .minus {
    background: #D7DAE0 url(../images/minus-12x12.png) 3px 5px no-repeat;
}

fieldset button:hover {
    background-color: #eee;
}



fieldset button.deletesidebaritem {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 250px;
}

#announcements label, #sidebars label {
    display: none;
}

#sidebars {
    margin-bottom: 25px;
}

#updateconditions div#lastupdated {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}

#lastupdated p, #lastupdated span {
    font: 16px/21px "DINProMedium",sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    margin: 0;
    padding: 0;
}

.error {
    background-color: #EFBFC3;
}

.success {
    background-color: #BFEFC3;
}

input.error {
    border-right: none;
}

#messageContainer {
    display: none;
    padding: 15px;
    margin-top: 20px;
}

#messageContainer.error {
    border: 1px solid #B5111B;
}

#messageContainer.success {
    border: 1px solid #00630C;
}


#metaContainer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#metaContainer li {
    float: left;
}
#metaContainer ul {
    width: 100%;
    float: left;
}
#metaContainer li:first-child {
    padding-right: 10px;
}
#metaContainer li:last-child {
    border-left: 5px solid #E1E8EF;
    padding-left: 10px;
}
