/* Globals */

*{
    font-family: Helvetica, Arial, sans-serif;
}

html{
    background-color: #a7a8a0;
}

body {
    border-top: 5px solid #0054a6;
    color: #333;
    margin: 0 auto;
    padding: 0;
    width: 980px;
    font: 12px/16px Helvetica, Arial, Verdana, sans-serif;
}

p {
    padding: 5px 0px 10px 0px;
}

a img {
    border: none;
}

a{
    color: #0054a6;
    text-decoration: none;
}

a:hover{
    color: #0054a6;
    text-decoration: underline;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#container {
    background: #fff;
    float: left;
    line-height: 1.3em;
    width: 980px;
}

/* Banners */

#banner{
    background-color: #6d6d64;
    border-left: 25px solid #a43e31;
    height: 70px;
}

#banner a{
    background: #6d6d64 url(../images/logo-main.png) no-repeat left;
    float: left;
    height: 70px;
    width: 470px;
    text-indent: -1000em;
}

/* Global Navigation Menus */

#globalNav{
    background-color: #b5111b;
    border-left: 25px solid #cb5a60;
    color: #fff;
    height: 40px;
    padding: 5px 0 0 40px;
    width: 915px;
}

ul#campuses{
    float: left;
    margin: 0;
    padding: 0;
}

ul#campuses li{
    background: url(../images/sprites.gif) no-repeat right -60px;
    display: inline;
    float: left;
    margin: 5px 0 0 10px;
    padding-right: 10px;
}

ul#campuses li:last-child{
    background-image: none;
}

ul#campuses li.last{
    background-image: none;
}


ul#campuses li a{
    color: #fff;
    display: block;
    float: left;
    font: 13px/15px Helvetica, Arial, sans-serif;
    padding: 0 0 20px;
    text-decoration: none;
}

ul#campuses li a:hover{
    border-bottom: 10px solid #cb5a60;
    padding: 0 0 10px;
}

ul#campuses li.sfu{
    background:none;
    display: inline;
    float: left;
    margin: 5px 48px 0 0;
    padding-right: 0;
}

ul#campuses li.sfu a{
    font-weight: bold;
    text-transform: uppercase;
}

ul#services{
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul#services li{
    background: url(/images/sprites.gif) no-repeat right -60px;
    float: left;
    position: relative;
    margin: 5px 0 0 10px;
    padding: 0 10px 0 0;
}

ul#services li a{
    color: #fff;
    display: block;
    font: 13px/15px Helvetica, Arial, sans-serif;
    padding: 0 0 10px;
    text-decoration: none;
}

ul#services li a:hover{
    border-bottom: 10px solid #cb5a60;
    padding: 0 0 10px;
}

ul#services li#online{
    z-index: 800;
}

ul#services li#online ul{
    display: none;
    position: absolute;
    top: 1em;
    left: 0;
}

ul#services li#online > ul {
    top: auto;
    left: auto;
}

ul#services li#online:hover ul{
    background-color: #cb5a60;
    display: block;
    clear: none;
    width: 160px;
    margin: 0;
    padding: 2px 0 0;
}

ul#services li#online:hover ul li{
    background: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul#services li#online:hover ul li a{
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 2px 5px;
    width: auto;
}

ul#services li#online:hover ul li a:hover{
    background: #b5111b;
    border:none;
}

ul#services li#directory{
    z-index: 700;
}

ul#services li#directory ul{
   background-color: #cb5a60;
    display: none;
    position: absolute;
    width: 164px;
    top: 1em;
    left: 0;
}

ul#services li#directory  > ul {
    top: auto;
    left: auto;
}

ul#services li#directory:hover ul{
    background-color: #cb5a60;
    list-style-type: none;
    clear:none;
    display: block;
    margin: 0;
    padding: 5px 2px;
}

ul#services li#directory:hover ul li{
    float: left;
    height: 16px;
    margin: 1px;
    padding: 0;
    width: 16px;
}

ul#services li#directory:hover ul li a{
    border: none;
    display: block;
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 2px 0 0 0;
    width: 100%;
    text-align: center;
}

ul#services li#directory:hover ul li a:hover{
    background: #b5111b;
    border:none;
}


ul#services li:last-child{
    background-image: none;
}

ul#services li#search{
    background-image: none;
    overflow: hidden;
}

ul#services li form{
    margin: 0;
    padding: 0;
    height: 20px;
    float: left;
}

ul#services li input{
    background-color: #fff;
    color: #6d6d64;
    float: left;
    margin: 0;
    height: 20px;
    padding-left: 4px;
    padding-top: 2px;
    line-height: 12px;
    outline: none;
    border: none;
}

ul#services li span input#submit{
    float: left;
    height: 20px;
    padding: 4px 4px 0 20px !important;
    line-height: 20px;
    background: #fff url(../images/sprites.gif) no-repeat 5px 3px;
    border: none;
    width: 20px;
    text-indent: -100em;
}

ul#services li input#submit:hover{
    background: #fff url(../images/sprites.gif) no-repeat 5px -17px;
    border: none;
}

/* Typography */


@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/dinpro-bold-webfont.eot');
    src: url('../fonts/dinpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-bold-webfont.woff') format('woff'),
         url('../fonts/dinpro-bold-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-bold-webfont.svg#DINProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINProRegular';
    src: url('../fonts/dinpro-regular-webfont.eot');
    src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-regular-webfont.woff') format('woff'),
         url('../fonts/dinpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/adinpro-regular-webfont.svg#DINProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINProMedium';
    src: url('../fonts/dinpro-medium-webfont.eot');
    src: url('../fonts/dinpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinpro-medium-webfont.woff') format('woff'),
         url('../fonts/dinpro-medium-webfont.ttf') format('truetype'),
         url('../fonts/dinpro-medium-webfont.svg#DINProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1 {
    font: 32px/32px "DINProBold", sans-serif;
    text-transform: uppercase;
    margin-top: 0px;
}

h1 span {
    font: 12px/21px "DINProRegular", sans-serif;
    letter-spacing: .2em;
}

h2 {
    font: 21px/24px "DINProMedium", sans-serif;
}

h2 span {
    font: 48px/52px "DINProMedium", sans-serif;
    text-transform: uppercase;
}

h3 {
    font: 16px/21px "DINProMedium", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #000;
    border-bottom: 5px solid #E1E8EF;
    padding-bottom: 8px;
}

h4 {
    font: 12px/14px "DINProBold", sans-serif;
    margin: 0px 0px 4px 0px;
    text-transform: uppercase;
}

/* Content Area */

#content {
    padding: 0px 65px 40px 65px;
    float: left;
}

#title {
    border-left: 25px solid #E9EEF3;
    width: 907px;
    margin: 0px 0px 42px -65px;
    padding: 28px 8px 4px 40px;
    background-color: #CBD7E3;
}

/* Footer */

#footer {
    background-color: #b6b7b1;
    color: #fff;
    clear: both;
    font: 10px Helvetica, Arial, sans-serif;
    float: left;
    text-align: center;
    width: 100%;
}

#footer ul {
    margin: 4px 0;
    padding: 0;
}

#footer ul li {
    display: inline;
    margin: 0 0 0 4px;
    padding-right: 4px;
    border-right: 1px solid #fff;
}

#footer ul li:last-child{
    border: none;
}

#footer a{
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}

#footer a:hover{
    color: #fff;
    text-decoration: underline;
}


/* Mobile Display */

/* Landscape & Portrait Common */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

    html {
        width: auto;
        background-color: #fff;
    }

    body {
        border-top: none;
        margin: 0;
        width: 100%;
    }

    #banner a {
        height: 54px;
        width: 297px;
        background-image: url(../images/logo-mobile.png);
    }

    #banner {
        width: 100%;
        height: 65px;
        border-left: none;
    }

    #globalNav {
        display: none;
    }

    #content {
        padding-left: 25px;
        padding-right: 0px;
    }

    #title h1 {
        font-size: 28px;
        line-height: 28px;
    }

    #title {
        width: 432px;
        margin-left: -40px;
        padding-left: 40px;
        padding-top: 10px;
        margin-bottom: 15px;
        border-left: none;
    }

    #status {
        width: 260px;
    }

    #status .primary {
        float: none;
        height: auto;
        padding-bottom: 24px;
    }

    #status .secondary {
        float: none;
        font-size: 14px;
        width: 100%;
        padding-left: 0px;
        margin-left: 0px;
        height: auto;
    }

    div#announcements {
        width: 260px;
    }

    #announcements .primary {
        float: none;
        width: 260px;
    }

    #announcements .secondary {
        float: none;
        width: 260px;
    }

    #webcams {
        width: 260px;
    }

    #webcams div {
        float: none;
        margin-right: 0px;
    }

    #links {
        width: 260px;
    }

    #links div {
        float: none;
        margin-right: none;
    }

    #footer {
        font-size: 8px;
        width: 100%;
    }

    #footer ul {
        width: 100%;
    }

    #footer a {
        font-size: 8px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    #container {
        width: 480px;
    }

    #title {
        width: 447px;
    }

    h3 {
        width: 400px;
    }

    #announcements, #announcements .primary, #announcements .secondary {
        width: 380px;
    }

    #footer, #footer a {
        font-size: 6px;
    }
}


@media screen and (max-width: 320px) {
    #container {
        width: 320px;
    }

    #title {
        width: 287px;
    }

    #title h1 {
        font-size: 20px;
    }
}


