/* Status */

span.warning {
	color: #C46C09;
}

#status ul li h2 span.alert, span.alert {
	color: #B5111B;
}


/* Content Area */

#status {
	width: 845px;
	float: left;
}

#status .primary {
	padding: 14px 28px;
	height: 190px;
	width: 190px;
	background-color: #000;
	float: left;
}

#status .primary h2 {
	color: #fff;
}

#status .primary h2 span {
	display: block;
	color: #E3E30A;
}

#status .primary .warning {
	font-size: 36px;
}

.datestamp {
	color: #777;
}

.lastupdatedtime {
	color: #bbb;
}

.datestamp:hover {
	cursor: pointer;
}

.datestamp span {
	font-weight: bold;
}

#status .secondary {
	height: 180px;
	width: 540px;
	float: left;
	margin-left: 32px;
	padding-top: 32px;
	font-size: 16px;
	line-height: 18px;
}

#status .secondary li {
	padding: 5px 0px;
}

#status .secondary li span {
	font-weight: bold;
	text-transform: uppercase;
}

#status .secondary li {
	border-bottom: 1px dotted #fff;
}

#announcements {
	clear: left;
	width: 845px;
	line-height: 21px;
	padding-top: 14px;
}

#announcements .primary {
	width: 566px;
	float: right;
	font-size: 14px;
}

#announcements .secondary {
	width: 245px;
	color: #777;
	padding-top: 3px;
}

#webcams {
	clear: left;
	float: left;
	width: 845px;
	padding-top: 14px;
}

#webcams ul li {
	margin-right: 32px;
	float: left;
	width: 247px;
	height: 200px;
}

#webcams ul li:last-child {
	margin-right: 0px;
}

#webcams img {
	width: 247px;
	height: 169px;
}

#links {
	width: 830px;
	clear: left;
	float: left;
	padding-top: 14px;
}

#links div {
	float: left;
	margin: 0px 28px 18px 0px;
	border-left: 10px solid #CBD7E3;
	padding-left: 8px;
}

#links div:last-child {
	margin-right: 0px;
}

/* Mobile Display */

/* Landscape & Portrait Common */
@media screen and (min-width: 320px) and (max-width: 480px) {
	#status {
	    width: 260px;
	}

	#status .primary {
	    float: none;
	    height: auto;
	    padding-bottom: 24px;
	}

	#status .secondary {
	    float: none;
	    font-size: 14px;
	    width: 100%;
	    padding-left: 0px;
	    margin-left: 0px;
	    height: auto;
	}

	#announcements {
	    width: 260px;
	}

	#announcements .primary {
	    float: none;
	    width: 260px;
	}

	#announcements .secondary {
	    float: none;
	    width: 260px;
	}

	#webcams {
	    width: 260px;
	}

	#webcams div {
	    float: none;
	    margin-right: 0px;
	}

	#links {
	    width: 260px;
	}

	#links div {
	    float: none;
	    margin-right: none;
	}
}

@media screen and (min-width: 321px) and (max-width: 480px) {
	#announcements, #announcements .primary, #announcements .secondary {
	    width: 380px;
	}
}

