{
    "port": 3000,

    "redis": {
        "host": "redis-server",
        "port": 6379,
        "password": "xxxxx"
    },

    "graphite": {
        "enabled": true,
        "host": "graphite-server",
        "port": 2003
    },

    "logging": {
        "console": { "enabled": true },
        "mail": { "enabled": false },
        "syslog": {
            "enabled": true,
            "host": "syslog-server"
        }
    }
}