{
    "port": 3000,

    "redis": {
        "host": "redis-server",
        "port": 6379,
        "password": "xxxxx"
    },

    "storage": {
        "engine": "RedisStore",
        "FileStore": {
            "filename": "data/conditions.json"
        },
        "RedisStore": {
            "host": "redis-server",
            "port": 6379,
            "password": "xxxxx",
            "clientOpts": {
                "retry_max_delay": 2000
            }
        }
    },

    "redisPubSub": {
        "enabled": true,
        "channel": "roadconditions:update",
        "host": "redis-server",
        "port": 6379,
        "password": "xxxxx",
        "clientOpts": {
            "retry_max_delay": 2000
        }
    },

    "logging": {
        "console": { "enabled": true },
        "mail": { "enabled": false },
        "syslog": {
            "enabled": true,
            "host": "devnull.ucs.sfu.ca"
        }
    },

    "session_secret": "xxxxx",

    "cas_service": "http://localhost:8000/login"
}