{
    "port": 3000,

    "redishost": "redismaster",
    "redisport": 6379,
    "redispassword": "xxxxxxxxxxx",

    "usegraphite": true,
    "graphitehost": "stats",
    "graphiteport": 2003,

    "devnull": "devnull.tier2.sfu.ca",

    "basepath": "",
    "basehost": "",

    "cas_service": ""
}